$top-color: #a1c45a;
$mid-layer2-color: #f1c550;
$bottom-color1: #ea4c4c;
$bottom-color2: #2b43c9;

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.heading {
  position: relative;
  height: 95vh;
  background-image: url(../src/img/landing.jpg);
  background-size: cover;
  background-position: top left;
  background-attachment: fixed;

  &-text-box {
    position: absolute;
    top: 30%;
    left: 10%;
    text-align: left;
  }

  &-primary {
    color: #fff;
    backface-visibility: hidden;
    margin-bottom: 1rem;
  }

  &-primary-main {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
  }

  &-primary-sub {
    font-family: "Sedgwick Ave", cursive;
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1rem;
  }
}

.typewriter span {
  white-space: nowrap;
  overflow: hidden;

  &:nth-child(1) {
    width: 8em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
  }

  &:nth-child(2) {
    width: 17em;
    opacity: 0;
    -webkit-animation: type 3s steps(40, end);
    animation: type 3s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  &:nth-child(3) {
    width: 17em;
    opacity: 0;
    -webkit-animation: type 3s steps(40, end);
    animation: type 3s steps(40, end);
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}
@-webkit-keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.projects {
  background-color: white;
}

.label {
  margin-top: 30px;
  color: black;
  font-size: 2.8rem;
  font-weight: 800;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
  font-family: "Sedgwick Ave", cursive;
  text-align: center;

  &::after {
    display: block;
    height: 2px;
    background-color: $bottom-color1;
    content: " ";
    width: 100px;
    margin: 20px auto 0;
  }
}

.card {
  margin: 0 auto;
}

.flip-card {
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin: 10px;

  &-inner {
    border-radius: 3px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  &:hover &-inner {
    transform: rotateY(180deg);
  }

  &-front,
  &-back {
    border: 0.5px solid rgb(204, 203, 203);
    border-radius: 3px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  &-front {
    background-color: #fff;
    color: black;
    z-index: 2;
    img {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }

  &-back {
    background-color: #fff;
    color: black;
    transform: rotateY(180deg);
    z-index: 2;
    border-radius: 3px;
    h2,
    p {
      padding: 10px 20px 0;
    }
  }
}

.grid-container-3 {
  margin: 50px 70px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  grid-column: 1/3;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/2;
  padding-top: 30px;
  background-color: $mid-layer2-color;
  height: 30vh;

  &-text-box {
    text-align: left;
    padding-left: 50px;
    padding-top: 30px;
    background-color: rgba(255, 255, 254, 0.952);
    width: 500px;
    border-radius: 10px;
  }
  &-primary-main {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.5rem;
    text-transform: uppercase;

    // &::after {
    //   display: block;
    //   height: 2px;
    //   background-color: $bottom-color2;
    //   content: " ";
    //   width: 200px;
    // }
  }

  &-primary-sub {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
  }
}
